@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --roboto: "Roboto", Arial, sans-serif;
  --yellow: #e6af2e;
  --black: #464646;
  --black-svg-filter: invert(24%) sepia(5%) saturate(25%) hue-rotate(316deg)
    brightness(25%) contrast(87%);

  --xxx-small: 0.125rem;
  --xx-small: 0.25rem;
  --x-small: 0.5rem;
  --small: 1rem;
  --m-small: 1.5rem;
  --medium: 2rem;
  --large: 4rem;
  --x-large: 8rem;
  --xx-large: 16rem;
  --xxx-large: 32rem;

  --website-margin: 7%;
}

/* fonts */

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* layout */

body {
  font-family: var(--roboto);
  margin: 0;
  padding: 0;
  border: 0;

  color: var(--black);

  display: grid;
  grid-template-columns: var(--website-margin) repeat(10, 1fr) var(
      --website-margin
    );
  grid-template-rows: auto;
  height: 100vh;
}
