/* 
INDEX.CSS
-> This file contains the styles for the home page of the website.
*/

/* Hero Section */
.hero-section {
  grid-column: 2 / 12;
  display: flex;
  padding-top: var(--large);
  padding-bottom: var(--medium);
}
.hero-text {
  z-index: 5;
}
.hero-section > div > h1,
h2 {
  margin: 0;
}

.hero-section > div > h1 {
  font-size: var(--x-large);
}

.hero-section > div > h2 {
  font-size: var(--large);
}
.hero-section > div > p {
  font-size: var(--small);
  width: 95%;
  line-height: var(--medium);
  margin: 0;

  padding-top: var(--small);
  padding-bottom: var(--small);
}
.website-button {
  background-color: var(--yellow);
  padding: var(--small);
  width: 30%;

  border-radius: var(--xx-small);
  border: none;
  color: var(--black);
  font-family: var(--roboto);
  font-size: var(--small);
}

.website-button:hover {
  background-color: white;
  color: var(--black);
  border: 1px solid var(--yellow);
}
/* hero section images */
.desktop-wireframe {
  width: 100%;
  position: relative;
  left: 0%;
  z-index: -1;
}
.tablet-wireframe {
  width: 40%;
  position: relative;
  bottom: 20%;
  right: 4%;
  z-index: 1;
}
.phone-wireframe {
  width: 15%;
  position: relative;
  z-index: 2;
  bottom: 20%;
  left: 35%;
}

/* Contact Section */
.contact-section {
  grid-column: 2 / 12;
  display: flex;
}

.contact-section h2 {
  font-size: var(--large);
}
.list-type-none {
  list-style-type: none;
  padding-left: 0;
}
.contact-section li {
  padding-top: var(--x-small);
}
.contact-section li img {
  color: var(--black);
  position: relative;
  bottom: -5px;
}
.contact-section span {
  font-weight: bold;
}

.contact-icon {
  filter: var(--black-svg-filter);
}

/* message section */
.message-section {
  grid-column: 2 / 12;
  display: flex;
  flex-direction: column;
  padding-bottom: var(--xx-large);
}
.message-section h3 {
  margin: 0;
  margin-top: var(--medium);
}
.message-form {
  display: flex;
  flex-direction: row;
  flex-basis: 50%;
}
.message-container {
  flex-basis: 50%;
}
#name,
#email,
#subject {
  width: 90%;
  height: 5%;
  padding: var(--small);
  font-family: var(--roboto);
  margin-top: var(--small);
}
#subject {
  height: 30%;
}
#message {
  width: 105%;
  margin-top: var(--small);
  font-family: var(--roboto);
  padding: var(--small);
  height: var(--x-large);
  margin-bottom: var(--x-smal);
  resize: none;
}
.submit-button {
  width: fit-content;
  padding: var(--small);
  text-align: left;
  margin-top: var(--small);
}
.message-section-subtitle {
  font-size: var(--medium);
}

.socials-icons {
  filter: var(--black-svg-filter);
  width: var(--large);
}

.social-media ul {
  display: flex;
}
.social-media ul li {
  padding-right: var(--small);
}
