/* 
 NAV.CSS
 - > This file contains the styles for the sitewide navigation bar.
*/

.website-nav {
  grid-column: 1 / -1;
  height: var(--large);
  display: flex;
  justify-content: flex-end;

  font-size: var(--medium);
  box-shadow: 0 1px 5px #8a8a8a;
  padding-right: var(--website-margin);
  padding-left: var(--website-margin);
}

.website-nav > div a {
  color: var(--black);
  text-decoration: none;
}

.website-nav > div a:hover {
  color: var(--yellow);
  text-decoration: none;
}

.website-nav > div {
  padding-top: var(--small);
  padding-bottom: var(--small);
}

.nav-buttons {
  padding-left: var(--small);
}

.logo {
  margin-right: auto;
  color: var(--yellow);
}

.logo span {
  color: #808080;
}
